<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Travlr Getaways Web Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>{{message}}</h1>
                            <h2>{{error.status}}</h2>
                            <a href ="/">Back to main page</a>
						</div>
					</div>
				</div>
			</div>
<pre>{{error.stack}}</pre>
